@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --Soft-Blue: #5468E7;
    --Soft-Violet: #C897E4;
    --Dark-Blue: #232340;
    --Desaturated-Blue: #7676B2;
    --Off-White: #F5F5F5;
    --Light-Orangge: #FFBA79;
}

*,
*::before,
*::after {
    font-family: 'Lexend Deca', sans-serif;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--Off-White);
}


a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}

/* Hero Section */

.hero {
    background-image: url('../img/christina-wocintechchat-com-L85a1k-XqH8-unsplash\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Header */
nav.navbar {
    padding: 40px 165px 0px 140px;
}

.navbar {
    background-color: transparent;
    position: relative;
}

.brand-title {
    flex: 1;
}

.logo {
    color: var(--Off-White);
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}

.logo span:nth-child(2) {
    color: var(--Soft-Blue);
    font-size: 52px;
    font-weight: 600;
    line-height: 52px;
}

.navbar-links ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    color: var(--Off-White);
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 24px;
    margin-right: 56px;
    display: block;
    overflow: hidden;
    position: relative;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.btn-header {
    color: var(--Off-White);
    padding: 10px 44px 10px 44px;
    background: rgba(84, 104, 231, 0.50);
    border-radius: 4px;
    overflow: hidden;
    gap: 8px;
    display: inline-flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.toggle-button {
    position: absolute;
    top: 1.20rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    transition: transform 0.3s ease-in-out, content 0.3s ease-in-out, font-siz e 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out, font-siz e 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out, font-siz e 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out, font-siz e 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out, font-siz e 0.3s ease-in-out;
}


#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #000000;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
}

#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}



/* Responsive Mobile Header*/

@media (max-width: 720px) {

    .navbar {
        padding: 0px;
        margin: 0px;
        text-align: left;
        justify-content: flex-start;
    }


    .toggle-button {
        display: flex;
        margin-top: 44px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: 10px 0px 10px 0px;
    }

    .navbar-links.active {
        display: flex;
    }

    .btn-header {
        display: none;
        width: 100%;
    }

    .btn-header.active {
        display: flex;
        justify-content: flex-start;
    }

    .btn-header {
        width: auto;
        justify-content: flex-start;
    }
}

/* Responsive Tablet  Header */
@media (max-width: 1080px) {
    nav.navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        padding-top: 40px;
        padding-left: 30px;
        width: 100%;
        margin: 0px;
        padding-left: 20px;
        gap: 10px;
    }

    .navbar-links {
        margin-bottom: 1rem;
    }

    .navbar-links li a {
        margin-right: 14px;
    }
}

/* End Header */

/* Hero Offer*/

.hero-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--Off-White);
    padding: 160px 0px 0px 140px;
}

.hero-offer h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 16px;
}

.hero-offer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 56px;
}

.hero-offer #email, .btn-offer {
    width: 100%;
    /* adjust this value as needed */
    padding: 10px 16px;
    /* adjust this value as needed */
}

.hero-offer #email {
    background: #F5F5F5;
    border-radius: 4px;
    overflow: hidden;
    border: 2px #D1ECFD solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.hero-offer input[type="email"]::placeholder {
    color: var(--Desaturated-Blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 22.40px;
    letter-spacing: 0.14px;
}

.btn-offer {
    background: #5468E7;
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}



/* End Hero Offer */

/* Responsive Tablet Hero Section*/
@media (max-width: 1080px) {
    .hero {
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-offer {
        padding: 152px 30px 152px 30px;

    }

}

/* Responsive Mobile Hero Section */
@media (max-width: 720px) {
    .hero {
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    form.row.g-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form.row.g-3 .col-auto {
        width: 100%;
        text-align: center;
    }

}


/* End Hero Section */


/* Mockup Section */

.mockup-section {
    margin: 80px 0px 80px 140px;
}

.mockup-section .mockup {
    margin-right: 0;
    padding-right: 0;
}

.offer h1 {
    color: var(--Dark-Blue);
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
}

.offer p {
    color: rgba(35, 35, 64, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 52px;
}

.link-button a {
    color: #5468E7;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}


@media (max-width: 1080px) {
    .mockup-section {
        margin: 60px 0px 76px 30px;
        margin-right: 0;
        padding-right: 0;
    }

    .mockup-section .row {
        flex-direction: column-reverse;
    }


    .mockup-section .mockup img {
        margin-bottom: 16px;
    }
}

@media (max-width: 720px) {
    .mockup-section {
        margin: 60px 0px 66px 30px;
        margin-right: 0;
        padding-right: 0;
    }

    .offer h1 {
        font-size: 34px;
        font-weight: 700;
        line-height: 42px;
    }

    .offer p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

/* End Mockup Section */

/* Info Section */

.info-img {
    position: relative;
}

.info-img img:first-child {
    width: 100%;
    display: block;
}

.info-img img:last-child {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 250px;
}


@media (max-width: 1080px) {
    .info-section {
        margin: 80px 24px 80px 0px;
        margin-right: 0;
        padding-right: 0;
    }

    .info-section-1 .row {
        flex-direction: row;
        align-items: flex-start;
    }

    .info-section .info-img img {
        width: 100%;
        height: auto;
        margin-left: -100px;
    }

    .info-img img:first-child {
        width: 100%;
        display: block;
    }

    .info-img img:last-child {
        position: absolute;
        top: 24px;
        right: 130px;
        width: 180px;
        max-width: 100%;
        height: auto;
    }

    .col-12.col-sm-12.col-md-6.col-lg-7,
    .col-12.col-sm-12.col-md-6.col-lg-5 {
        display: flex;
        align-items: start;
        margin-right: 0;
        padding-right: 0;
    }
}

@media (max-width: 720px) {
    .info-section {
        margin: 60px 0px 66px 30px;
    }

    .info-section .info-img img {
        margin-left: -50px;
        margin-bottom: 48px;
    }

    .info-img img:last-child {
        position: absolute;
        top: 24px;
        right: 100px;
        width: 200px;
        max-width: 100%;
        height: auto;
    }

}

/* End Info Section */